body{
    margin: 0;
    background-color: #737373;
}
#banner{
    width: 100%;
}
#allstuff{
    margin: 0 auto;
    text-align: center;
}
.div{
    display: inline;
    width: 100%
}
.piccy{
    border-radius: 50%;
    border: 1vw solid #444444;
    width: 15%;
    display: inline;
    margin: 5%;
}